[submodule "mrst-solvers"]
	path = Externals/MRST/mrst-solvers
	url = https://bitbucket.org/mrst/mrst-solvers.git
	branch = battmo
[submodule "mrst-core"]
	path = Externals/MRST/mrst-core
	url = https://bitbucket.org/mrst/mrst-core.git
        branch = battmo
[submodule "mrst-autodiff"]
	path = Externals/MRST/mrst-autodiff
	url = https://bitbucket.org/mrst/mrst-autodiff.git
        branch = battmo
[submodule "mrst-model-io"]
	path = Externals/MRST/mrst-model-io
	url = https://bitbucket.org/mrst/mrst-model-io.git
        branch = master
[submodule "mrst-visualization"]
	path = Externals/MRST/mrst-visualization
	url = https://bitbucket.org/mrst/mrst-visualization.git
        branch = master
[submodule "agmg"]
	path = Externals/agmg
	url = https://github.com/BattMoTeam/agmg.git
[submodule "upr"]
	path = Externals/upr
	url = https://github.com/rbe051/UPR.git
