[submodule "agmg"]
	path = Externals/agmg
	url = https://github.com/BattMoTeam/agmg.git
[submodule "upr"]
	path = Externals/upr
	url = https://github.com/rbe051/UPR.git
[submodule "mrst"]
	path = Externals/mrst
	url = https://github.com/SINTEF-AppliedCompSci/MRST.git
